<!DOCTYPE html>
<html>
  <head>
    <title>Calculadora em Flask</title>
    <link rel="stylesheet" href={{url_for('static',filename='main.css')



    }}>
  </head>

  <body>
    <section class="calculator">
      <h1>Calculadora em Flask</h1>

      <form action="/resultado" method="POST">
        <label for="Numero um">Primeiro número</label>
        <input type="number" placeholder="Insira um número" name="numero_um" />

        <label for="Numero dois">Segundo número</label>
        <input type="number" placeholder="Insira um número" name="numero_dois" />

        <label for="Operation">Operação</label>
        <select name="operacao">
          <option value="soma">Soma</option>
          <option value="subtracao">Subtração</option>
          <option value="multiplicacao">Multipicação</option>
          <option value="divisao">Divisão</option>
        </select>

        <input type="submit" value="Calcular" id="calc_btn" class="btn" />

        <h3>Resultado: {{ result }}</h3>
      </form>
    </section>
  </body>
</html>
